<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Join Quiz Group</h1>
    <p>Join a Quiz Pals Group and compete with your friends!.</p>
    <table>
        <thead><tr><th>Name</th><th>Username</th><th></th></tr></thead>
        <tbody>
            <% for (i=0; i <user.length; i++) { %>
                <tr>
                    <td><%= user[i].name %></td>
                    <td><%= user[i].User %></td>
                    <td><a href="/QuizGroup/<%= user[i]._id %>">Join</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
</body>
</html>