<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Quiz Pals</title>
</head>
<body>
    <h1>Create a Quiz</h1>
    <p>Create a Quiz Pals Quiz to challenge your friends!.</p>

    <form name="form1" method="POST" action="/quiz/create">

    <input type="text" name="QuizTitle">
    </br>
        <input type="text" name="QuestionTitle">
        <input type="text" name="Answer1">
        <input type="text" name="Answer2">
        <input type="text" name="Answer3">
        <input type="text" name="Answer4">

    </form>   
</body>
</html>