<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Quiz Pals</title>
</head>
<body>
    <h1>Create a Quiz</h1>
    <p>Create a Quiz Pals Quiz Group to challenge your friends!.</p>

    <form name="form1" method="POST" action="/CreateQuiz/add">
        <table>
            <% if(quiz!=null){ %>
            <tr>
                <td>Group name</td>
                <td><input type="text" name="GroupName" value="<%= quiz.GroupName %>"></td>
            </tr>
            <tr>
                <td>Group password</td>
                <td><input type="password" name="Password" value="<%= quiz.Password %>"></td>
            </tr>
            <tr>
                <td>Confirm password</td>
                <td><input type="password" name="ConfirmPassword" value=""></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Save"></td>
            </tr>
            <% } %>
        </table>
    </form>   
    <% if(message!=null){ %>    
        <div> <%= message %></div>
    <% } %>

</body>
</html>