<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Quiz Pals</title>
</head>
<body>
    <h1>Create a Quiz</h1>
    <p>Create a Quiz Pals Quiz to challenge your friends!.</p>

    <form name="form1" method="POST" action="/quizGroup/addQuiz">
    <p>Quiz Title: <input type="text" name="QuizTitle"></p>
    <input type="hidden" name="QuizGroupID" value="<%= quizGroupID %>">
    
    <input type="submit" value="Create a Quiz">
    </form>   

     <form name="form1" method="POST" action="/quizGroup/addQuestionForm">
    </form>  

</body>
</html>