<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Quiz Pals</title>
</head>
<body>
    <h1>Quiz Pals</h1>
    <p>Welcome to Quiz Pals.</p>
    <form name="form1" method="GET" action="/quizgroup/navCreateQuizGroup">
    <input type="submit" value="Create Quiz Group">
    </form>

    <form name="form1" method="GET" action="/quizgroup/joinquizgroup">
    <%- include ('../partials/userInfo') %>
    <% if(typeof localUser!= 'undefined') { %>
<input type="hidden" name="localUserID" value="<%= localUser._id %>"/>
<% } %>

    <input type="submit" value="Join Quiz Group">
    </form>

    <a href="createquiz">Create Quiz Group</a>

    <a href="quizgroup/joinquizgroup">Join Quiz Group</a>
    
</body>
</html>