<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Quiz Pals</title>
</head>
<body>
    <h1>Create a Quiz</h1>
    <p>Create a Quiz Pals Quiz to challenge your friends!.</p>  

     <form name="form1" method="POST" action="/quizquestion/create">
     <p>Question Title</p>
        <input type="text" name="QuestionTitle">
        </br>
        <p>Answers</p>
        <p>A: <input type="text" name="Answer1"></p>
        <p>B:<input type="text" name="Answer2"></p>
        <p>C:<input type="text" name="Answer3"></p>
        <p>D:<input type="text" name="Answer4"></p>

        </br>
        <p>Correct Answer</p>
        <select name="CorrectAnswer">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
</select>
        </br>
        </br>
        <input type="submit" value="Add Question To Quiz">

    </form>  

</body>
</html>