<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Join Quiz Group</h1>
    <p>Join a Quiz Pals Group and compete with your friends!.</p>
           
    <form name="form1" method="POST" action="/JoinQuiz/Login">  
        <p>Group name</p>
        <input type="text" name="GroupName" value="<%= login.GroupName %>" />
        <p>Password </p>
        <input type="password" name="Password" value="<%= login.Password %>" />
        <input type="submit" value="Login">
    </form>
</body>
</html>