<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <!-- <h1><%#= quizGroup %></h1> -->
    <% for (i=0; i <quizGroup.length; i++) { %>
                    
                        <h1><%= quizGroup[i].GroupName %> : Dashboard</h1>
                    
                    <% } %>
    <p>View Quizzes Group-members and the scoreboard</p>
        <table>
            <thead><tr><th>Quiz Group Members</th><th></th></tr></thead>
            <tbody>           
                <% for (i=0; i <quizGroup.length; i++) { %>
                    <tr>
                        <td><%= quizGroup[i].GroupMembers %></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </br>
    </br>
    <b>Quizzes</b>
    <form name="form1" method="GET" action="/quiz/form">
    <input type="submit" value="Create a Quiz">
    </form>

</body>
</html>