<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Quiz Pals</title>
</head>
<body>
    <h1>Sign-up</h1>
    <p>Name</p><input type="text" />
    <p>Username</p><input type="text" />
    <p>Password</p>
    <button type="button">Submit</button>

</body>
</html>