<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Quiz Pals</title>
</head>
<body>
<form name="form1" method="POST" action="/user/create">
    <h1>Sign-up</h1>

    <p>Full Name</p>
    <input type="text" name="fullname" value="<%= user.FullName %>" />
    <p>Username</p>
    <input type="text" name="username" value="<%= user.Username %>"/>

    <p>Password</p>
    <input type="password" name="password" />
    <p>Confirm Password</p>
    <input type="password" name="confirmPassword"/>
    <input type="submit" value="Submit">
    </form>

    <%- include ('../partials/messages') %>

</body>
</html>